## Домашняя работа 10 - Основы pandas
### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [52]:
ratings = pd.read_csv('.\\HW-10 data\\ml-25m\\ratings.csv')
movies = pd.read_csv('.\\HW-10 data\\ml-25m\\movies.csv')

In [53]:
data = (ratings.query('rating == 5')
 .groupby(["movieId","rating"]).count()
 .sort_values(["userId"],ascending=False)
 .head(1)
)

In [54]:
result = data.merge(movies, on="movieId", how="left")
result['title']

0    Shawshank Redemption, The (1994)
Name: title, dtype: object

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [58]:
power = pd.read_csv('.\\HW-10 data\\power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [82]:
fl_power = power[ 
    ((power['country'] == 'Latvia')|(power['country'] == 'Lithuania')|(power['country'] == 'Estonia'))
    &((power['category'] ==4)|(power['category'] ==12)|(power['category'] ==21))
    &((2005 <= power['year'])&(power['year'] <= 2010))
    &(power['quantity'] > 0) 
]
fl_power['quantity'].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

www.finanz.ru...om-vremeni

In [84]:
page_url = 'https://fortrader.org/quotes'
df = pd.read_html(page_url)[1]
df

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,76.09,0.01,0.01,NaN
1,Нефть WTI Цены на нефть WTI,75.10,0.04,0.05,NaN
2,Природный газ Цена на природный газ,3.69,-0.01,-0.16,NaN
3,Кофе,153.05,0.00,0.00,NaN
4,Кукуруза,591.40,-0.60,-0.10,NaN
5,Соя,378.00,-2.40,-0.63,NaN
6,Хлопок,86.97,0.00,0.00,NaN