# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

  1:  surgery?
          - 1 = Yes, it had surgery
          - 2 = It was treated without surgery
  2:  Age
          - 1 = Adult horse
          - 2 = Young (< 6 months)
  4:  rectal temperature
          - linear
          - in degrees celsius.
          - An elevated temp may occur due to infection.
          - temperature may be reduced when the animal is in late shock
          - normal temp is 37.8
          - this parameter will usually change as the problem progresses
               eg. may start out normal, then become elevated because of
                   the lesion, passing back through the normal range as the
                   horse goes into shock
  5:  pulse
          - linear
          - the heart rate in beats per minute
          - is a reflection of the heart condition: 30 -40 is normal for adults
          - rare to have a lower than normal rate although athletic horses
            may have a rate of 20-25
          - animals with painful lesions or suffering from circulatory shock
            may have an elevated heart rate 
  6:  respiratory rate
          - linear
          - normal rate is 8 to 10
          - usefulness is doubtful due to the great fluctuations              
  7:  temperature of extremities
          - a subjective indication of peripheral circulation
          - possible values:
               1 = Normal
               2 = Warm
               3 = Cool
               4 = Cold
          - cool to cold extremities indicate possible shock
          - hot extremities should correlate with an elevated rectal temp.                   
 11: pain - a subjective judgement of the horse's pain level
          - possible values:
               1 = alert, no pain
               2 = depressed
               3 = intermittent mild pain
               4 = intermittent severe pain
               5 = continuous severe pain
          - should NOT be treated as a ordered or discrete variable!
          - In general, the more painful, the more likely it is to require
            surgery
          - prior treatment of pain may mask the pain level to some extent
 23: outcome
          - what eventually happened to the horse?
          - possible values:
               1 = lived
               2 = died
               3 = was euthanized

In [383]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [384]:
df_inp = pd.read_csv('HW-14 Data\\horse_data.csv',
                 names=['surgery', 'Age', 't3', 'rectal_temperature', 'pulse',
                        'respiratory_rate', 'temperature_of_extremities', 't8', 't9', 't10',
                        'pain', 't12', 't13', 't14', 't15',
                       't16', 't17', 't18', 't19', 't20',
                       't21', 't22', 'outcome', 't24', 't25',
                       't26', 't27', 't28'])
df = df_inp[['surgery','Age','rectal_temperature','pulse','respiratory_rate',
    'temperature_of_extremities','pain','outcome']]
df.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2

In [387]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
surgery                       300 non-null object
Age                           300 non-null int64
rectal_temperature            300 non-null object
pulse                         300 non-null object
respiratory_rate              300 non-null object
temperature_of_extremities    300 non-null object
pain                          300 non-null object
outcome                       300 non-null object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

In [388]:
df['respiratory_rate'].unique()

array(['28', '20', '24', '84', '35', '?', '16', '36', '12', '52', '48',
       '21', '60', '34', '42', '30', '96', '72', '15', '44', '32', '22',
       '18', '80', '40', '10', '51', '68', '66', '9', '14', '90', '8',
       '23', '58', '13', '70', '26', '88', '25', '50'], dtype=object)

In [389]:
df_clear= df.replace({'?': np.NaN}).astype({'surgery': float,'Age': int,'rectal_temperature': float,
                                            'pulse': float,'respiratory_rate': float,'temperature_of_extremities': float,
                                            'pain': float,'outcome': float})

df_clear.info()
#.astype({'col1': 'int32'}), 'rectal_temperature': 'float32', 'pulse': 'int32'}

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
surgery                       299 non-null float64
Age                           300 non-null int32
rectal_temperature            240 non-null float64
pulse                         276 non-null float64
respiratory_rate              242 non-null float64
temperature_of_extremities    244 non-null float64
pain                          245 non-null float64
outcome                       299 non-null float64
dtypes: float64(7), int32(1)
memory usage: 17.7 KB

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [390]:
df_clear[['surgery','Age','rectal_temperature','pulse','respiratory_rate',
    'temperature_of_extremities','pain','outcome']].describe()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [395]:
print(df_clear['pulse'].mean())
print(df_clear['pulse'].median())
print(df_clear['pulse'].mode()[0])
print(df_clear['pulse'].std())
print(df_clear['pulse'].var())

71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575

In [396]:
print(df_clear.groupby(['surgery','Age','pain'])['respiratory_rate'].median())

surgery  Age  pain
1.0      1    1.0     16.0
              2.0     36.0
              3.0     22.0
              4.0     30.0
              5.0     30.0
         9    2.0     72.0
              3.0     40.0
              4.0     60.0
              5.0     49.0
2.0      1    1.0     20.0
              2.0     20.0
              3.0     25.0
              4.0     24.5
              5.0     28.0
         9    1.0     28.0
              4.0     44.0
              5.0      NaN
Name: respiratory_rate, dtype: float64

In [397]:
#print(df_clear.groupby(['surgery','pain'])['outcome'].median())

#print(df_clear.groupby(['surgery','Age'])['outcome'].mean())
#print(df_clear.groupby(['surgery','Age'])['pulse'].mean()) #!!!
#print(df_clear.groupby(['surgery','Age'])['temperature_of_extremities'].mean())
#

In [398]:
q1 = df_clear['rectal_temperature'].quantile(0.25)
q3 = df_clear['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_clear[df_clear['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
remove_outliers.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
277,2.0,1,36.9,50.0,40.0,2.0,1.0,1.0
70,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0

In [399]:
#pd.concat([df_clear,remove_outliers]).drop_duplicates(keep=False)

In [400]:
print(df_clear.groupby(['surgery','pain'])['outcome'].agg({'mode':pd.Series.mode,'Mean':np.mean, 'Count': pd.Series.count}))

              mode      Mean  Count
surgery pain
1.0     1.0    1.0  1.000000    9.0
        2.0    1.0  1.794118   34.0
        3.0    1.0  1.179487   39.0
        4.0    2.0  1.892857   28.0
        5.0    2.0  1.878788   33.0
2.0     1.0    1.0  1.137931   29.0
        2.0    1.0  1.440000   25.0
        3.0    1.0  1.392857   28.0
        4.0    3.0  2.400000   10.0
        5.0    2.0  1.777778    9.0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [401]:
(df_clear.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [402]:
# Удаляем записи с большим количеством пропусков
df_clear1 = df_clear.dropna(thresh=6)
# Эти столбцы ключевые для дальнейшего рассмотрения, 
# пустые значения в 2-х их них не позволяют нормально заполнить пропуски
df_clear2 = df_clear1.dropna(subset=['rectal_temperature','pulse','respiratory_rate'],thresh=2)

In [403]:
(df_clear2.isna().mean() * 100).round(2)

surgery                        0.38
Age                            0.00
rectal_temperature            10.31
pulse                          1.15
respiratory_rate               9.54
temperature_of_extremities    16.03
pain                          15.27
outcome                        0.38
dtype: float64

In [404]:
print(df_clear2.groupby(['Age','pain','surgery'])['surgery'].count())

# По сути заменяем одну запись, основную роль играет pain и temperature_of_extremities. 
#С такими показателями, пусть и более-менее нормальным дыханием и пульсом вероятность такого исхода велика.
df_clear2['surgery'].fillna(df_clear2.groupby(['Age','pain'])['surgery'].transform('median'),inplace=True)
df_clear2['outcome'].fillna(df_clear2.groupby(['Age','pain'])['outcome'].transform('median'),inplace=True)

Age  pain  surgery
1    1.0   1.0         8
           2.0        27
     2.0   1.0        28
           2.0        23
     3.0   1.0        34
           2.0        26
     4.0   1.0        22
           2.0         8
     5.0   1.0        24
           2.0         4
9    1.0   2.0         1
     2.0   1.0         5
     3.0   1.0         5
     4.0   1.0         2
           2.0         1
     5.0   1.0         2
           2.0         1
Name: surgery, dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [405]:
(df_clear2.isna().mean() * 100).round(2)

surgery                        0.00
Age                            0.00
rectal_temperature            10.31
pulse                          1.15
respiratory_rate               9.54
temperature_of_extremities    16.03
pain                          15.27
outcome                        0.00
dtype: float64

In [406]:
# Для лучшего ориентирования разбиваю числовые показатели на группы
cut_labels = ['norm', 'hi', 'extr']
cut_bins = [0, 50, 70, 200]

df_clear2['cut_pulse'] = pd.cut(df_clear2['pulse'],
                       bins=cut_bins,
                       labels=cut_labels)
# -----------------------------------------------
cut_labels = ['norm', 'hi', 'extr']
cut_bins = [0, 18, 42 ,200]

df_clear2['cut_resp'] = pd.cut(df_clear2['respiratory_rate'],
                                       bins=cut_bins,
                                       labels=cut_labels)
# -----------------------------------------------
cut_labels = ['low','norm', 'hi', 'extr']
cut_bins = [0, 37.4, 38.2 , 38.9, 200]

df_clear2['cut_temp'] = pd.cut(df_clear2['rectal_temperature'],
                                       bins=cut_bins,
                                       labels=cut_labels)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [407]:
df_clear2.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,cut_pulse,cut_resp,cut_temp
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,hi,hi,hi
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,extr,hi,extr
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,norm,hi,hi
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,extr,extr,extr
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0,extr,hi,low

In [408]:
print(df_clear2.groupby(['Age','surgery','pain'])['pain'].count())
#Явно прослеживается связь между уровнем боли и проведением операции, 
#но методов однозначного определения значения для замены не вижу, потому устанаваливается значение N/A
df_clear2['pain'].fillna('N/A',inplace=True)

Age  surgery  pain
1    1.0      1.0      8
              2.0     28
              3.0     34
              4.0     23
              5.0     24
     2.0      1.0     27
              2.0     23
              3.0     26
              4.0      8
              5.0      4
9    1.0      2.0      5
              3.0      5
              4.0      2
              5.0      2
     2.0      1.0      1
              4.0      1
              5.0      1
Name: pain, dtype: int64

In [409]:
#print(df_clear2.groupby(['surgery','cut_temp','temperature_of_extremities'])['temperature_of_extremities'].count())
#Прослеживается связь температуры конечностей  с ректальной температурой в зависимости от наличия операции
df_clear2['temperature_of_extremities'].fillna(df_clear2.groupby(['surgery','cut_temp'])['temperature_of_extremities'].transform('median'),inplace=True)

In [410]:
#print(df_clear2.groupby(['surgery','cut_pulse','cut_temp'])['rectal_temperature'].count())
# Связь в разрезе пульса и наличия операции
df_clear2['rectal_temperature'].fillna(df_clear2.groupby(['surgery','cut_pulse'])['rectal_temperature'].transform('median'),inplace=True)

In [411]:
#print(df_clear2.groupby(['surgery','cut_pulse','cut_resp'])['rectal_temperature'].count())
# Также связь в разрезе пульса и наличия операции
df_clear2['respiratory_rate'].fillna(df_clear2.groupby(['surgery','cut_pulse'])['respiratory_rate'].transform('median'),inplace=True)

In [412]:
#print(df_clear2.groupby(['surgery','cut_resp','cut_temp','cut_pulse'])['cut_pulse'].count())
df_clear2['pulse'].fillna(df_clear2.groupby(['surgery','cut_resp','cut_temp'])['pulse'].transform('median'),inplace=True)

In [413]:
(df_clear2.isna().mean() * 100).round(2)

surgery                        0.00
Age                            0.00
rectal_temperature             0.00
pulse                          0.00
respiratory_rate               0.00
temperature_of_extremities     0.76
pain                           0.00
outcome                        0.00
cut_pulse                      1.15
cut_resp                       9.54
cut_temp                      10.31
dtype: float64

In [414]:
# Повторяем группировку на уже восстановленных данных и накатываем повторно расчет для temperature_of_extremities
cut_labels = ['norm', 'hi', 'extr']
cut_bins = [0, 50, 70, 200]

df_clear2['cut_pulse'] = pd.cut(df_clear2['pulse'],
                       bins=cut_bins,
                       labels=cut_labels)
# -----------------------------------------------
cut_labels = ['norm', 'hi', 'extr']
cut_bins = [0, 18, 42 ,200]

df_clear2['cut_resp'] = pd.cut(df_clear2['respiratory_rate'],
                                       bins=cut_bins,
                                       labels=cut_labels)
# -----------------------------------------------
cut_labels = ['low','norm', 'hi', 'extr']
cut_bins = [0, 37.4, 38.2 , 38.9, 200]

df_clear2['cut_temp'] = pd.cut(df_clear2['rectal_temperature'],
                                       bins=cut_bins,
                                       labels=cut_labels)
# -----------------------------------------------
df_clear2['temperature_of_extremities'].fillna(df_clear2.groupby(['surgery','cut_temp'])['temperature_of_extremities'].transform('median'),inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [415]:
(df_clear2.isna().mean() * 100).round(2)

surgery                       0.0
Age                           0.0
rectal_temperature            0.0
pulse                         0.0
respiratory_rate              0.0
temperature_of_extremities    0.0
pain                          0.0
outcome                       0.0
cut_pulse                     0.0
cut_resp                      0.0
cut_temp                      0.0
dtype: float64

In [416]:
df_clear2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 299
Data columns (total 11 columns):
surgery                       262 non-null float64
Age                           262 non-null int32
rectal_temperature            262 non-null float64
pulse                         262 non-null float64
respiratory_rate              262 non-null float64
temperature_of_extremities    262 non-null float64
pain                          262 non-null object
outcome                       262 non-null float64
cut_pulse                     262 non-null category
cut_resp                      262 non-null category
cut_temp                      262 non-null category
dtypes: category(3), float64(6), int32(1), object(1)
memory usage: 18.6+ KB

In [417]:
df_clear2[['surgery','Age','rectal_temperature','pulse','respiratory_rate',
    'temperature_of_extremities','pain','outcome']].describe()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [420]:
print(df_clear2['pulse'].mean())
print(df_clear2['pulse'].median())
print(df_clear2['pulse'].mode()[0])
print(df_clear2['pulse'].std())
print(df_clear2['pulse'].var())

71.09541984732824
64.0
48.0
28.45219251016187
809.5272586353111