# Домашнее задание к лекции "Статистика. Практика"

In [63]:
import pandas as pd
import numpy as np
import re
from scipy import stats as st

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [64]:
df = pd.read_csv('HW-21 Data//vgsales.csv')
#df.columns = df.columns.str.lower()
print(df['Critic_Score'].mean())
print(df['Critic_Score'].min())
print(df['Critic_Score'].max())
df.head()

68.96767850559173
13.0
98.0

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

1) Как критики относятся к спортивным играм?

Предположим, что критики оценивают спортивные игры выше 69 баллов, тогда
* H0 = Критики оценивают спортивные игры меньше или на 69 баллов.
* H1 = Критики оценивают спортивные игры больше 69 баллов.

In [65]:
df_score = df[df['Critic_Score'].notnull()]

In [66]:
alpha = 0.05
result = st.ttest_1samp(df_score['Critic_Score'],69,alternative='greater')
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_1sampResult(statistic=-0.20917896173357323, pvalue=0.5828431139099027)
Не отвергаем нулевую гипотезу

2) Критикам нравятся больше игры на PC или на PS4?

*  H0 = Статистически значимых различий в оценках критиков для игр на PC или на PS4 нет.
* H1 = Есть статистически значимые различия в оценках критиков для игр на PC или на PS4.

In [67]:
df_ps4 = df.loc[(df['Platform'] == 'PS4') & (df['Critic_Score'].notnull())]
df_pc = df.loc[(df['Platform'] == 'PC') & (df['Critic_Score'].notnull())]
df_pc.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
85,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.99,6.42,0.00,0.60,8.01,86.0,75.0,7.6,886.0,The Sims Studio,T
138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.08,6.21,0.00,0.00,6.29,93.0,57.0,7.3,2182.0,Blizzard Entertainment,T
192,Diablo III,PC,2012.0,Role-Playing,Activision,2.44,2.16,0.00,0.54,5.14,88.0,86.0,4,9629.0,Blizzard Entertainment,M
218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.57,1.68,0.00,0.58,4.84,93.0,82.0,8.2,3052.0,Blizzard Entertainment,T
284,Half-Life,PC,1997.0,Shooter,Vivendi Games,4.03,0.00,0.09,0.00,4.12,96.0,24.0,9.1,3161.0,Valve Software,M

In [68]:
alpha = 0.05
result = st.ttest_ind(df_pc['Critic_Score'],df_ps4['Critic_Score'],equal_var=False)
print(df_pc['Critic_Score'].mean())
print(df_ps4['Critic_Score'].mean())
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу')
else:
    print('Не отвергаем нулевую гипотезу')

75.92867132867133
72.09126984126983
Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу

3) Критикам больше нравятся стрелялки или стратегии? 

*  H0 = Статистически значимых различий в оценках критиков для игр стрелялки или стратегии нет.
*  H1 = Есть статистически значимые различия в оценках критиков для игр стрелялки или стратегии.

In [69]:
df_sh = df.loc[(df['Genre'] == 'Shooter') & (df['Critic_Score'].notnull())]
df_str = df.loc[(df['Genre'] == 'Strategy') & (df['Critic_Score'].notnull())]
df_sh.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
29,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.04,4.24,0.13,1.32,14.73,88.0,81.0,3.4,8713.0,"Infinity Ward, Sledgehammer Games",M
32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.70,3.68,0.11,1.13,14.61,87.0,89.0,6.3,1454.0,Treyarch,M
34,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.73,0.65,2.42,13.79,83.0,21.0,5.3,922.0,Treyarch,M
35,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.24,0.07,1.12,13.67,83.0,73.0,4.8,2256.0,Treyarch,M
36,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.59,0.08,1.28,13.47,94.0,100.0,6.3,2698.0,Infinity Ward,M

In [70]:
alpha = 0.05
result = st.ttest_ind(df_sh['Critic_Score'],df_str['Critic_Score'],equal_var=False)
print(df_sh['Critic_Score'].mean())
print(df_str['Critic_Score'].mean())
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу')
else:
    print('Не отвергаем нулевую гипотезу')

70.18114406779661
72.08609271523179
Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);

7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  

8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [71]:
df = pd.read_csv('HW-21 Data//spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [72]:
#1) Привидите весь текст к нижнему регистру;
df['Message_lower'] = df['Message'].apply(str.lower)
df.head()

,Category,Message,Message_lower
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro..."

In [73]:
#2) Удалите мусорные символы;
df['Message_WO_sym'] = df.apply(lambda x: re.sub('[\W_]+',' ',x['Message_lower']),axis=1)
df.head()

,Category,Message,Message_lower,Message_WO_sym
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...

In [74]:
#3) Удалите стоп-слова;
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_set = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\WNick\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [75]:
df['Message_WO_SW'] = df.apply(lambda x: list(word for word in x['Message_WO_sym'].split() if word not in stopwords_set),axis=1)
df.head()

,Category,Message,Message_lower,Message_WO_sym,Message_WO_SW
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]"

In [76]:
#4) Привидите все слова к нормальной форме;
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

wordnet_lemmatizer = WordNetLemmatizer()
#WordNetLemmatizer.lemmatize(word)
df['Message_new'] = df.apply(lambda x: ' '.join(wordnet_lemmatizer.lemmatize(word) for word in x['Message_WO_SW']),axis=1)
df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\WNick\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Category,Message,Message_lower,Message_WO_sym,Message_WO_SW,Message_new
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]",ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin...",free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]",u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]",nah think go usf life around though

In [77]:
#5) Преобразуйте все сообщения в вектора TF-IDF.
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message_new)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [78]:
#6) Разделите данные на тестовые и тренировочные в соотношении 30/70, 
#укажите random_state=42. Используйте train_test_split;
df['spam_flg'] = df.apply(lambda x: 1 if x['Category'] == 'spam' else 0, axis=1)
df.head()

,Category,Message,Message_lower,Message_WO_sym,Message_WO_SW,Message_new,spam_flg
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n...",go jurong point crazy available bugis n great ...,0
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]",ok lar joking wif u oni,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin...",free entry 2 wkly comp win fa cup final tkts 2...,1
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]",u dun say early hor u c already say,0
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]",nah think go usf life around though,0

In [79]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, df['spam_flg'], test_size=0.30, random_state=42)

In [82]:
#7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score, classification_report

lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
accuracy_score(y_test, lda.predict(X_test))

0.9677033492822966

In [83]:
#Точность дает высокий результат, но классы не сбалансированы, потому необходимо смотреть остальные метрики
report = classification_report(y_test, lda.predict(X_test), target_names=['stay', 'left'])
print(report)

              precision    recall  f1-score   support

        stay       0.97      1.00      0.98      1448
        left       0.98      0.77      0.86       224

    accuracy                           0.97      1672
   macro avg       0.97      0.89      0.92      1672
weighted avg       0.97      0.97      0.97      1672

In [61]:
#8) Опишите результаты при помощи confusion_matrix;
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, lda.predict(X_test))

#1445 - True Positive      3 - False Positive 
#51 - False Negative       173 - True Negative

array([[1445,    3],
       [  51,  173]], dtype=int64)

In [84]:
#9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, 
# классифицированные неправильно (с указанием фактического и предсказанного).


df_False = pd.concat([df[df.index.isin(y_test.index)].reset_index(), 
                    pd.Series(lda.predict(X_test),
                              np.arange(len(lda.predict(X_test))),
                              name = 'predict')],
                    axis=1)
df_False = df_False[df_False['spam_flg'] != df_False['predict']]
df_False

,index,Category,Message,Message_lower,Message_WO_sym,Message_WO_SW,Message_new,spam_flg,predict
0,8,spam,WINNER!! As a valued network customer you have...,winner!! as a valued network customer you have...,winner as a valued network customer you have b...,"[winner, valued, network, customer, selected, ...",winner valued network customer selected receiv...,1,0
1,12,spam,URGENT! You have won a 1 week FREE membership ...,urgent! you have won a 1 week free membership ...,urgent you have won a 1 week free membership i...,"[urgent, 1, week, free, membership, 100, 000, ...",urgent 1 week free membership 100 000 prize ja...,1,0
2,15,spam,"XXXMobileMovieClub: To use your credit, click ...","xxxmobilemovieclub: to use your credit, click ...",xxxmobilemovieclub to use your credit click th...,"[xxxmobilemovieclub, use, credit, click, wap, ...",xxxmobilemovieclub use credit click wap link n...,1,0
4,19,spam,England v Macedonia - dont miss the goals/team...,england v macedonia - dont miss the goals/team...,england v macedonia dont miss the goals team n...,"[england, v, macedonia, dont, miss, goals, tea...",england v macedonia dont miss goal team news t...,1,0
14,47,ham,"Fair enough, anything going on?","fair enough, anything going on?",fair enough anything going on,"[fair, enough, anything, going]",fair enough anything going,0,1
...,...,...,...,...,...,...,...,...,...
1633,5446,ham,I am back. Good journey! Let me know if you ne...,i am back. good journey! let me know if you ne...,i am back good journey let me know if you need...,"[back, good, journey, let, know, need, receipt...",back good journey let know need receipt shall ...,0,1
1634,5450,ham,Sac needs to carry on:),sac needs to carry on:),sac needs to carry on,"[sac, needs, carry]",sac need carry,0,1
1638,5457,ham,Arun can u transfr me d amt,arun can u transfr me d amt,arun can u transfr me d amt,"[arun, u, transfr, amt]",arun u transfr amt,0,1
1657,5524,spam,You are awarded a SiPix Digital Camera! call 0...,you are awarded a sipix digital camera! call 0...,you are awarded a sipix digital camera call 09...,"[awarded, sipix, digital, camera, call, 090612...",awarded sipix digital camera call 09061221061 ...,1,0
1668,5561,ham,Get me out of this dump heap. My mom decided t...,get me out of this dump heap. my mom decided t...,get me out of this dump heap my mom decided to...,"[get, dump, heap, mom, decided, come, lowes, b...",get dump heap mom decided come lowes boring,0,1

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой [Google Colab](https://colab.research.google.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам?
Прежде чем задать вопрос необходимо попробовать найти ответ самому в интернете. Навык самостоятельного поиска информации – один из важнейших, и каждый практикующий специалист любого уровня это делает каждый день.

Любой вопрос должен быть сформулирован по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности, прикрепляйте к вопросу скриншоты, либо ссылки на код. Оставляйте только проблемный и воспроизводимый участок кода, все решение выкладывать не допускается.